

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.nav-item {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bold;
    text-transform: uppercase;
}
body  {
    background: rgba(34, 28, 28, 0.288);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.wrapper {
    height: 700px;
}

.navbar {
    /* background-color: rgb(230, 213, 213) !important; */
    border-bottom: solid 5px rgb(92, 63, 63);
    background-color: #333;
    top: 0;
    position: relative;
    width: 100%;
}
#buynow {
    font-family: 'Love Ya Like A Sister', cursive;
    color: mediumseagreen;
    font-size: 15px;
    font-weight: bold;
}

#buynow:hover {
    border: none;
    font-size: 15px;
    font-style: normal;
}
#highlight {
    font-family: 'Permanent Marker', cursive;
    color: rgb(133, 144, 158);
    font-style: italic;
    font-size: 70px;
    letter-spacing: 10px;
}

#wt {
    font-family: 'Bahianita', cursive;
    padding: 2px;
}

.text-uppercase {
    font-size: 50px;
}

#quote {
    margin: 30px 20px 20px 30px;
    padding-right: 5px;
    float: center;
    text-align: center;
    /* background-color: antiquewhite; */
    font-weight: bold;
    opacity: 0.7;
    
}

#quote p:first-child {
    font-family: 'Amatic SC', fantasy;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: lowercase;
    
}

.nav-link {
    color: rgb(224, 150, 150);
}

.nav-link:hover {
    font-style: italic;
    border-top: solid 2px rgb(197, 141, 141);
    color: rgb(224, 150, 150); 
    font-size: 19px;
}



  #tek {
      padding-top: 10%;
      padding-bottom: 20px;
  }

  /* doi mau sang trang */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
    background-color: rgb(238, 144, 144); 
}

.dropdown-item {
    font-weight: bold;
    text-align: center;
    color: #333;
}

.dropdown-item:hover {
    background-color:  #333;
    color: rgb(224, 150, 150); 
}


                    /* icon */
.fab {
    color: rgb(61, 58, 58);
    font-size: 2em;
    opacity: 1;
    padding-top: 5;
    position: relative;
    padding-bottom: 30px;
    cursor: pointer;
}

#sns a{
    /* display: inline-flex; */
    margin: 20px;

}

/* .carousel {
    position: absolute;
} */



/* .carousel-caption {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(32, 30, 30));
    padding-top: 20px;
    padding-bottom: 12px;
    left: 0%;
    right: 0%;
    bottom: 0%;
} */

/*
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }
  */

.whitediv h2 {
    padding: 10px;
}

.slide {
    /* padding: 40px 130px; */
}
body #footer {
    bottom: 0;
    position: relative;
}
.footer {
    position: relative;
}
#footer {
    background: #333;
    padding: 0 0 10px 0;
    color: #eee;
    font-size: 14px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;

}

#footer .footer-top {
    padding: 30px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3{
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: cadetblue;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    color: #a56565;
    font-family: 'Bubblegum Sans', cursive;
    font-style: italic;

}

#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    padding: 8px 0;
    width: 50px;
    height: 36px;
}

#footer .footer-top h4{
    font-size: 17px;
    font-weight: bold;
    color: rgb(75, 119, 121);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    font-style: italic;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #ecf5ff;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type ="email"]{
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type ="submit"] {
    background: #007bff;
    border: 0;
    widows: 35%;
    padding: 6px 5px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type ="submit"]:hover {
    background: #0062cc;
} 

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 0.1px solid #fff;

}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
}


/* nsc */
/* .event-list {
    margin: 15px;
} */
.menu {
    background: cadetblue;
    text-align: center;
}

#menu-content a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    margin: 0;
    font-family: 'Love Ya Like A Sister', cursive;
}

#menu-content a:hover {
    color: rosybrown;
    background-color: #ecf5ff;
}
.event-list {
    margin-top: 20px;
    margin-bottom: 20px;
}
.event-name {
    /* background-color: rgba(23, 87, 23, 0.808); */
    text-align: center;
    /* line-height: 833px; */
    font-size: 45px;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    background-color: rgb(94, 87, 87);
    color: aliceblue;
    text-decoration: underline;
}

.event-content {
    /* background: rgba(34, 28, 28, 0.288); */
        background-color: rgba(255, 192, 203, 0.671);
    text-align: justify;
    justify-content: center;
    float: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;

}

.event-content img {
    /* width: 30%;
    height: 20%; */
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* return button */
html {
    scroll-behavior: smooth;
}
#gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #55615a;
    bottom: 40px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(106, 148, 93);
    font-size: 30px;
}